<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-md-6 text-center">
        <img [src]="avatarPath" alt="Avatar Orio Intro" width="350">
        <h1 class="mt-4 mb-3" style="font-family: 'coolvetica'">Trouvez la voie qui vous correspond avec Orio</h1>
        <p>Remplissez le formulaire suivant et découvrez des métiers qui vous conviennent.</p>
        <button class="btn btn-primary btn-lg mt-5 mb-3" (click)="startButtonClick()">Commencer</button>
        <p>{{ version }}</p>
      </div>
    </div>
  </div>
