#img-orio {
  width: 300px;
}

.main-title {
  font-family: coolvetica;
}

img {
  margin: 3% 0%;
}

.row {
  height: 100vh;
}

.important {
  font-weight: bold;
}


.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7%;
}

.btn:active, .btn:hover, .btn:focus{
  background-color: rgb(0, 9, 107);
}

